/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #ffc2e6;
  --subtitle-color: #FF8DCB;
  --text-color: #353430;
  --decor-color: var(--subtitle-color);
  --accent-color: var(--text-color);
  --subtitle-text-color: var(--text-color);
  --hover-color: rgba(50, 49, 45, 0.4);  
}

@media (prefers-color-scheme: light) {
:root {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #ffc2e6;
  --subtitle-color: #FF8DCB;
  --text-color: #353430;
  --decor-color: var(--subtitle-color);
  --accent-color: var(--text-color);
  --subtitle-text-color: var(--text-color);  
  --hover-color: rgba(50, 49, 45, 0.4);  
  }
}

.page.theme_light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #ffc2e6;
  --subtitle-color: #FF8DCB;
  --text-color: #353430;
  --decor-color: var(--subtitle-color);
  --accent-color: var(--text-color);
  --subtitle-text-color: var(--text-color);
  --hover-color: rgba(50, 49, 45, 0.4); 

  .header__rec {
    visibility: hidden;
  }
}

