/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: url("../images/cover-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.theme_dark{
  background-image: url("../images/cover-image-dark.png");
}

.theme_light{
  background-image: url("../images/cover-image-light.png");
}

.decorated-zone{
  display: grid;
  align-items: center;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

.decorated-zone::before{
  position: absolute;
  content:" ";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  align-self: start;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after{
  position: absolute;
  content:" ";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  align-self: flex-start;
  justify-self: start;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header{
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
}

.header__rec{
  align-self: start;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after{
  display: inline-block;
  content:" ";
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  margin-block-end: 2px;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  margin: 0;
}

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--accent-color);
  padding: 0 13px;
}

.header__theme-menu-button_active{
  pointer-events: none;
}

.header__theme-menu-button:focus-visible{
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover{
  outline: 1px solid currentColor;
}

.header__title{
  justify-self: start;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--decor-color);
  text-transform: lowercase;
}

.header__subtitle{
  white-space: pre-line;
  max-width: 491px;
}

.title-decor{
  background-color: var(--subtitle-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-text-color);
}

.content{
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding: 40px 10px 0;
  gap: 50px;
}

.content__section{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__title{
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.content__list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title ~ .content__list{
  padding-top: 20px;
}

.card__subtitle{
  font-weight: 400;
}

.card__text{
  padding-block-start: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.text-link{
  text-shadow: 2px 1px 0 var(--decor-color);
}

.text-link:focus-visible{
  outline: none;
  border-bottom: 1px solid currentColor;
}

.text-link:hover{
  outline: 1px solid currentColor;
}

.content__images{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__images-wrapper{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.content__images-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer{
  padding: 10px;
  grid-template-rows: 1fr;
  justify-items: center;
  margin-block-start: 40px;
}

.footer__title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--decor-color);
  text-transform: lowercase;
}

@media (width >= 768px) {
  .header{
    padding: 20px 20px 20px 0;
  }

  .decorated-zone::before{
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after{
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec{
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .header__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle{
    max-width: 364px;
  }

  .content{
    padding: 60px 20px 0;
    gap: 80px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .section-decor{
    grid-template-columns: 1fr;
  }

  .section-decor .content__title{
    max-width: 236px;
  }

  .content__images{
    gap: 20px;
  }

  .content__images-wrapper{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto dense;
    gap: 20px;
  }

  .content__images-image:first-of-type {
    grid-column: span 2;
  }

  .content__images-image:nth-of-type(2) {
    grid-row: span 2;
  }

  .content__images-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .content__images-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer{
    margin-block-start: 60px;
  }

  .footer__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
} 

@media (width >= 1024px) {
  .header__theme-menu-list{
    flex-direction: row;
    padding-inline-start: 20px;
    gap: 11px;
  }

  .header__theme-menu{
    justify-self: center;
    align-self: self-start;
  }

  .header__subtitle{
    max-width: 491px;
  }

  .content__section{
    gap: 12px;
  }

  .section-decor{
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-decor .content__title {
    max-width: 355px;
  }

  .list-decor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
} 