:root {
  --bg-image: url("../images/cover-image.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: var(--accent-color);
  --subtitle-text-color: var(--bg-color);
  --text-color: #f1b2ce;
  --decor-color: var(--accent-color);
  --hover-color: rgba(255, 0, 112, 0.4);
  --font-family: 'IBM Plex mono', monospace;
}
